# Summer Analytics 2021 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [1]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv '
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [2]:
Chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter='\t')
Chipo

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

### 3) See the first 10 entries

In [3]:
Chipo[:10]

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### 4) What is the number of observations in the dataset?

In [4]:
Chipo.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [5]:
Chipo.shape[1]

5

### 6) Print the name of all the columns.

In [6]:
Chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

### 8) For the most-ordered item, how many items were ordered?

### 9) What was the most ordered item in the choice_description column?

In [13]:
Chipo.choice_description.value_counts().head(1).index[0]

'[Diet Coke]'

### 10) How many items were ordered in total?

In [14]:
s=0;
for i in Chipo.quantity:
  s=s+i
print(s)

4972

### 11) Turn the item price into a float

In [27]:
####easy

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [24]:
s=0
for i in range(0,Chipo.shape[0]):
  s=s+Chipo.quantity.iloc[0]*float(Chipo.item_price.iloc[0][1:])
print(s)

11046.579999999794

### 13) How many orders were made in the period?

In [ ]:
##easy

### 14) What is the average revenue amount per order?

In [33]:
print("$"+str(s/Chipo.shape[0]))

$2.3899999999999557

### 15) How many different items are sold?

In [ ]:
#easy